.btn1 {
  background-color: white;
  border: none;
  font-size: large;
}
.mainCard {
  border-radius: 20%;
  border-color: grey;
  border-width: 1px;
  border-style: solid;

}

.inputField {
  border-radius: 10px;
  height: 50px;

}
.inputRounded .MuiOutlinedInput-root{
  border-radius: 15px;
  margin-bottom: 0;
}
.divider {
  border-top: 2px solid grey;
}

.upperDivider {
  border-top: 5px solid grey;
  width: 20px;
  margin-left: 10px;
  margin-top: 0;
  border-radius: 30%;
}
.button1st {
  text-transform: none;
  height: 55px;
  width: 200px;
  border-radius: 10px;
  color: white;
  background-color: #398555;
  border-color: #398555;

}